.servicesCard{
  width: 20.4375rem;
  height: 23rem;
  padding: 1.5rem 2rem;
  border-bottom: 0.25rem solid var(--blue-500);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
  
}

.servicesCard + .servicesCard{
  margin-top: 1.5rem;
}

.servicesCard strong{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  color: var(--blue-950);  
}

.servicesCard p{
  margin-block: 0.75rem 0.75rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.625rem;
  color: var(--gray-700);
}

.servicesCard img{
  width: 100%;
  height: 13rem;
  border-radius:0.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1024px){
  .servicesCard{
    width: 350px;
   
  }

  .servicesCard + .servicesCard{
    margin-top: 0rem;
  }
}