.swiper{
  padding: 2rem;
}

.swiper-slide{
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet-active{
  background-color: var(--blue-50);
}

.swiper-bullet-prev{
  color: var(--blue-800);
}

.swiper-bullet-next{
  color: var(--blue-800);
}